<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 style="font-size: 28px; text-align: center; padding-top: 2%;">{{title1}}</h1>

        <div v-if="cart.length > 0" class="d-flex justify-content-end" style="padding-right: 10%;">
            <button v-on:click="showCart" class="btn btn-info" style="margin-bottom: 20px;">
                {{countItemInCart}}
                <span class="fa fa-cart-plus"></span>
                Cart
            </button>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <main>
                <div v-if="showSubject">

                    <div class="container mt-5">

                        <div class="d-flex justify-content-center mb-3">

                            <!-- displays search bar and search results -->
                            <div class="me-3" style="margin-top: 32px; width: 600px; position: relative">
                                <input
                                  id="searchInput"
                                  type="text"
                                  v-model="query"
                                  placeholder="Search"
                                  @input="search"
                                  class="form-control"
                                />
                                <div v-if="loading" style="position: absolute; background: #606161; z-index: 10; width: 100%; border: 1px solid #868181; padding: 12px; box-shadow: 0px 4px 6px rgba(0,0,0,0.1); color: #ddd;">Loading...</div>
                                <ul id="search_results" style="list-style-type: none; padding: 0; margin: 0; position: absolute; top: 100%; left: 0; background: white; z-index: 10; width: 100%; border: 1px solid #ddd; box-shadow: 0px 4px 6px rgba(0,0,0,0.1);">
                                  <li v-for="course in search_courses" :key="course._id">
                                    <a href="#" style="border: 1px solid #ddd; margin-top: -1px; background-color: #606161; padding: 12px; text-decoration: none; color:#ddd; display: block;">
                                        Subject: {{ course.Subject }}, Location: {{ course.Location }}, Price: ${{ course.Price }}, Spaces: {{ course.Spaces }}
                                    </a>
                                  </li>
                                </ul>
                            </div>

                            <!-- displays sort functionality by subject, location, price and spaces -->
                            <div class="me-3">
                                <label for="sort-attribute" class="form-label">Sort by:</label>
                                <select v-model="sortAttribute" id="sort-attribute" class="form-select">
                                    <option value="Subject">Subject</option>
                                    <option value="Location">Location</option>
                                    <option value="Price">Price</option>
                                    <option value="Spaces">Spaces</option>
                                </select>
                            </div>
                            
                            <!-- displays subjects by asc or des -->
                            <div>
                                <label for="sort-order" class="form-label">Order:</label>
                                <select v-model="sortOrder" id="sort-order" class="form-select">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                    </div>

                <!-- displays the subject cart with its details and the checkout button -->
                    <div style="display: flex; flex-wrap: wrap; padding-left: 10%;">
                        <div v-for="subject in sortedCourses" class="card" style="width: 250px; margin: 10px;">
                            <img :src="images(subject.Subject)" :alt="subject.Subject" style="width: 100%; height: 150px; object-fit: cover;" />
                            <p class="card-text" style="padding: 0; margin: 0; margin-left: 10px; margin-top: 10px;;">Subject: {{subject.Subject}}</p>
                            <p class="card-text" style="padding: 0; margin: 0; margin-left: 10px;">Location: {{subject.Location}}</p>
                            <p class="card-text" style="padding: 0; margin: 0; margin-left: 10px;">Price: {{subject.Price}}</p>
                            <p class="card-text" style="margin-left: 10px;">Spaces: {{subject.Spaces}}</p>

                            <button class="btn btn-primary" style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px;" v-on:click="addItemToCart(subject)" v-if="CanAddItemToCart(subject)">Add to Cart</button>
                            <!-- if spaces is 0, the add to cart button is disabled -->
                            <div v-else>
                                <button class="btn btn-secondary" disabled>Add to Cart</button>
                                <span v-if="subject.Spaces === CartCount(subject._id)">Housefull!</span>
                                <!-- if spaces > 0 'Buy Now!' will be displayed -->
                                <span v-else>Buy Now!</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- displays the checkout form -->
                <div v-else>
                    <h1 style="font-size: 28px; text-align: center; padding: 2%;">{{title2}}</h1>

                    <!-- displays details of the subject's in cart -->
                    <div style="display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center;">
                        <div v-for="(subj, i) in cart" class="card" style="width: 250px; margin: 10px">
                            <p class="card-text" style="padding: 0; margin: 0; margin-left: 10px; margin-top: 10px;;">Subject: {{subj.subject}}</p>
                            <p class="card-text" style="padding: 0; margin: 0; margin-left: 10px;">Location: {{subj.location}}</p>
                            <p class="card-text" style="padding: 0; margin: 0; margin-left: 10px;">Price: {{subj.price}}</p>
                            <button v-on:click="removeItemFromCart(i, subj.id)" type="button" class="btn btn-danger" style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px;" >Remove</button>
                        </div>

                        <div>        
                            <div style="display: flex; flex-wrap: wrap ;flex-direction: column; justify-content: center; align-items: center;">
                                
                                <!-- checkout form -->
                                <form style="width: 500px;">
                                    <h1 style="font-size: 28px; text-align: center; padding: 2%;">{{title3}}</h1>
                                    <p></p><input v-model.trim="checkout.name" class="form-control" placeholder="Name"></p>                                    
                                    <p><input v-model.trim="checkout.number" class="form-control" placeholder="Phone Number"></p>
                                    <p><input v-model.trim="checkout.email" class="form-control" placeholder="Email Address"></p>
                                    <p><input v-model.trim="checkout.address" class="form-control" placeholder="Address"></p>
                                    <p><input v-model.trim="checkout.city" class="form-control" placeholder="City"></p>
                                    <!-- if form has been filled, checkout button will be displayed -->
                                    <button v-if="checkout.name && checkout.number && checkout.email && checkout.address && checkout.city" v-on:click="submitForm" type="button" class="btn btn-success">Checkout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </main>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        let webstore = new Vue({
            el: '#app',
            data: {
                title1: "After School Classes",
                title2: "Shopping Cart",
                title3: "Checkout",
                showSubject: true,
                courses: [],
                cart: [],
                checkout: {
                    name: '',
                    number: ''
                },
                sortAttribute: 'Subject',
                sortOrder: 'asc',
                query: '',
                search_courses: [],
                loading: false
            },
            methods: {

                images(subject){
                    switch(subject){
                        case "Maths":
                            return "https://backend-dggm.onrender.com/images/maths.jpeg";
                        case "English":
                            return "https://backend-dggm.onrender.com/images/english.jpg";
                        case "French":
                            return "https://backend-dggm.onrender.com/images/french.jpg"
                        case "Science":
                            return "https://backend-dggm.onrender.com/images/science.avif";
                        case "Music":
                            return "https://backend-dggm.onrender.com/images/music.jpeg";
                        default:
                            return "";
                    }
                },

                // fetch courses from backend and displays it in the frontend
                fetchCourses() {
                    fetch('https://backend-dggm.onrender.com/courses')  
                        .then(response => response.json())
                        .then(data => {
                            this.courses = data;
                        })
                        .catch(error => {
                            console.error('error fetching courses:', error)
                        })
                },
                
                // adds subjects details in cart
                addItemToCart(course) {
                    if (course.Spaces > 0) {
                        this.cart.push({
                            id: course._id,
                            subject: course.Subject,
                            location: course.Location,
                            price: course.Price,
                            bookedSpaces: 1
                        })
                        // the subject's spaces is decremented when the button is pressed
                        course.Spaces--
                    }
                },

                // in checkout section, courses can be removed and the relevant subject's space is incremented
                removeItemFromCart(i, courseid) {
                    const course = this.courses.find(item => item._id === courseid)
                    if(course) {
                        course.Spaces++
                    }
                    this.cart.splice(i,1)
                },

                CanAddItemToCart(course) {
                    return course.Spaces > 0;
                },

                CartCount(id) {
                    return this.cart.filter(item => item === id).length; 
                },

                showCart() {
                    this.showSubject = !this.showSubject;
                },

                // form validation using regular expression
                checkoutValidation(){
                    const name = /^[a-zA-Z\s]{2,}$/;
                    const num = /^\d{7,8}$/;
                    const email = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                    const address = /^[a-zA-Z0-9\s,.'-]{5,}$/;
                    const city = /^[a-zA-Z\s]{2,}$/;

                    // appropriate error message is displayed for each error

                    if(!name.test(this.checkout.name)){
                        Swal.fire({
                            title: 'Error',
                            text: 'Enter a valid name',
                            icon: 'error'
                        })
                        return false;
                    }
                    if(!num.test(this.checkout.number)){
                        Swal.fire({
                            title: 'Error',
                            text: 'Enter a valid phone number',
                            icon: 'error'
                        })
                        return false;
                    }
                    if(!email.test(this.checkout.email)){
                        Swal.fire({
                            title: 'Error',
                            text: 'Enter a valid email address',
                            icon: 'error'
                        })
                        return false;
                    }
                    if(!address.test(this.checkout.address)){
                        Swal.fire({
                            title: 'Error',
                            text: 'Enter a valid address',
                            icon: 'error'
                        })
                        return false;
                    }
                    if(!city.test(this.checkout.city)){
                        Swal.fire({
                            title: 'Error',
                            text: 'Enter a valid city',
                            icon: 'error'
                        })
                        return false;
                    }
                    return true;
                },


                submitForm() {
                    if (this.checkoutValidation()){

                        if (this.checkout.name && this.checkout.number && this.checkout.email && this.checkout.address && this.checkout.city) {
                            const orderData = {Name: this.checkout.name, Phone_Number: this.checkout.number, Email_Address: this.checkout.email, Address: this.checkout.address, City: this.checkout.city,
                                Course_Id: this.cart.map(course => ({
                                    id: course.id, bookedSpaces: course.bookedSpaces
                                }))
                            }

                            fetch('https://backend-dggm.onrender.com/orders', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(orderData)
                            })
                            .then(response => response.json())
                            .then(() => {
                                this.cart.forEach(course => {
                                    const courseId = course.id
                                    const bookedSpaces = Number(course.bookedSpaces)
                                    const courseInDb = this.courses.find(item => item._id === courseId)
                        

                                    if(courseInDb && bookedSpaces > 0) {
                                        console.log(`Sending request to update course: ${courseId}, bookedSpaces: ${bookedSpaces}`);
                                        fetch(`https://backend-dggm.onrender.com/courses/${courseId}/spaces`, {
                                            method: 'PUT',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify({ spacesToReduce: bookedSpaces})
                                        })
                                        .then(response => {
                                            if (!response.ok) {
                                                throw new Error(`HTTP error! status: ${response.status}`);
                                            }
                                            return response.json()
                                        })
                                        .then(data => {console.log(`Spaces updated for course: ${course.subject}`, data);})
                                        .catch(error => {console.error(`error updating spaces for course: ${course.subject}`, error)});
                                    } 
                                })

                                this.checkout = {
                                    name: '', number: '', email: '', address: '', city: ''
                                }
                                this.cart = []
                                Swal.fire({
                                    title: 'Success',
                                    text: 'Order has been submitted',
                                    icon: 'success'
                                }).then(() => {
                                    this.showSubject = true;
                                })
                            })
                        }
                    }
                },

                // search functionality for the frontend
                // it fetches data from the backend and displays it on the frontend
                search() {
                    if(this.query.trim().length === 0) {
                        this.search_courses = []
                        return;
                    }

                    const searchQuery = document.getElementById('searchInput').value;
                    this.loading = true;

                    fetch(`https://backend-dggm.onrender.com/search?query=${encodeURIComponent(searchQuery)}`)
                        .then((response) => {
                            if(!response.ok) {
                                throw new Error("failed to fetch search results")
                            }
                            return response.json()
                        })
                        .then((data) => {
                            this.search_courses = data
                        })
                        .catch((error) => {
                            console.error("error fetching search results: ", error)
                        })
                        .finally(() => {
                            this.loading = false;
                        })
                }

            },
            created() {
                this.fetchCourses();  
            },
            computed: {
                countItemInCart() {
                    return this.cart.length || "";
                },

                itemsLeft() {
                    return this.subject.Spaces - this.countItemInCart
                },

                sortedCourses() {
                    return _.orderBy(
                        this.courses,
                        [this.sortAttribute],
                        [this.sortOrder]
                    )
                }
            }
        });

    </script>
</body>
</html>